.btn{
    padding: 1.2rem 2.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    background-color: blue;
    border: none;
    cursor: pointer;
    letter-spacing: 0.05rem;
    transition: all 0.7s;
}
.btn:hover{
    background-color: rgb(226, 91, 102)!important;
}

@media screen and (max-width:800px) {
    .btn{
        padding: 0.8rem 1rem;
    }
}